

.input-panel img {
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    border-radius: 50%;
    display:none;
}

.btn-wrap .pay-box {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #f8624f;
    background: #ffffff;
    text-align: center;
    font-size: .8rem;
}

.user-intro {
    height: 5rem;
    line-height: 1.2rem;
    border-radius: 0;
    border: 1px solid #e6e6e6;
    color: #777;
    font-size: .8rem;
    padding: .5rem;
}
.btn-wrap {
    margin: .65rem 0;
}
.list-item {
    font-size: .8rem;
    line-height: 2.5rem;
    color: #000;
    height: 2.5rem;
    margin-left: 0;
}

.list-item .v{
    color: #939393;
}
.list-item.auto-height {
    height: auto;
}
.list-item:after {
    bottom: .9rem;
}
.list-item.photo-wrapper {
    padding-right: 1.3rem;
}
.list-item.nonearrow {
    padding-right: .3rem;
}