.evaluationback{
    background: #fff url(static/images/evaluationback-bg.png) no-repeat center 7.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    padding-top: 3.5rem;
    text-align:center;
    background-size: 13rem auto;
    line-height: 1.3rem;
}
.evaluationEn{color:#dcdcdc;}
