
.doc-info-wrap {
    position: relative;
}
.doc-info-wrap .doc-img {
    width: 3.65rem;
    height: 3.65rem;;
    overflow: hidden;
    padding: 1rem .65rem;
    position: absolute;
    left: 0;
    top: .35rem;

}

.doc-info-wrap .doc-img img{
    width: 100%;
    border-radius: 50%;

}

.doc-info {
    margin: 0 0 1rem 4.5rem;
    padding: 1.15rem 0 0 0;
}

.doc-info .name {
    font-size: .85rem;

}

.doc-info-wrap .user-tips {
    color: #BDBDBD;
    font-size: .65rem;
}

.doc-summary {
    padding: 1.4rem .65rem;

}

.doc-summary .key {
    font-size: .75rem;
    margin: 0 0 .5rem 0;
}

.doc-summary .value {
    font-size: .7rem;
    color: #BDBDBD;
}

.status-bar-wrap {
    position: relative;
    text-align: center;
    margin: .75rem;
}

.status-bar-wrap .text-line {
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #E0E0E0;
    line-height: 1px;
    left: 0;
    bottom: .5rem;
    width: 100%;
}

 .status-bar {
     position: relative;
    font-size: .75rem;
    text-align: center;
    color: #3B93FA;
    display: inline-block;
     z-index: 10;
     padding: 0 .5rem;
     background-color: #fff;
}

 .toolbar-wrap {
     text-align: center;
     color: #3B93FA;
     position: fixed;
     left: 0;
     bottom: 0;
     height: 2.5rem;
     width: 100%;
     padding-top: .25rem;
 }

.toolbar-wrap .line {
    margin-bottom: .25rem;
}

 .toolbar .flex-item {
     border-right: 1px solid #E0E0E0;
     height: 2.25rem;
     line-height: 1.9rem;
 }

.toolbar .flex-item:last-child {
    border-right: none;
}











