.list-container{
    background-color: #fff;
}
.wrapper {
    background: #fff;
    margin-bottom: 2.5rem;
}
.balances-block {
    padding: 1.75rem 0 2rem 0;
    text-align: center;
    background: -webkit-linear-gradient(top, #48a2ff, #1488ff);
    background: -moz-linear-gradient(top, #48a2ff, #1488ff);
    background: linear-gradient(top, #48a2ff, #1488ff);
}
.balances-block .title {
    font-size: 2rem;
    color: #fefefe;
    line-height: 2.5rem;
    margin-bottom: .55rem;
}
.balances-block .balances {
    font-size: .9rem;
    color: #fff;
    line-height: 1.2rem;
}
.payments-list {
    margin: 0px .65rem;
}
.payments-list .title {
    font-size: .7rem;
    position: relative;
    margin: 1rem 0 0 0;
}
.payments-list .title p {
    font-size: .7rem;
    color: #b3b3b3;
    text-align: center;
    line-height: .9rem;
    width: 4.5rem;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
}
.payments-list .title .line {
    line-height: 1px;
    border-bottom: 1px solid #d8d8d8;
    position: absolute;
    left: 0;
    width: 100%;
    top: .45rem;
    margin: 0;
}
.payments-items {
    padding: 1.15rem 0;
    border-bottom: 1px solid #d8d8d8;
}
.col-left {
    float: left;
}
.col-right {
    float: right;
}
.payments-items p {
    font-size: .65rem;
    color: #b3b3b3;
}

.total .date {
    font-size: .85rem;
    line-height: .9rem;
    color: #000;
    margin-bottom: .5rem;
}
.total p span {
    font-size: 1rem;
    line-height: 1.1rem;
}

.payments-items .payments-name, .payments-items .price {
    font-size: .7rem;
    color: #777777;
    margin-bottom: .25rem;
}
.total p.income span, .income .price{
    color: #007eff;
}

.btn-fixed-blue {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .85rem;
    color: #fff;
    background: #007eff;
    text-align: center;
}
.applyCashBtn.disabled{
    background-color: grey;
}
.applyCashBtn.disabled:hover{
    cursor: default;
}
.income{
    color: #ff5a00 !important;
}
.outcome{
    color: #508dd3 !important;
}
.inline-page-msg {
    padding: 1.5rem 0;
    color: #b3b3b3;
}
.no-list img {
    margin-bottom: 3rem;
}
.balances {
    height: 1.05rem;
}
