<%
var length = itemList.length;

var index=0;
function statusFormat(typeName,status){
if(status==0){
return typeName+'失败';
}else if(status==1){
return typeName+'成功';
}else if(status==2){
return '交易关闭';
}else if(status==3){
return typeName+'进行中';
}
}
while(index < length) {
var item=itemList[index];
%>
<% if(item.type==50){ %>

<li class="payments-items total">
    <p class="date"><%=_.dateUtil.format(item.insertTime*1000,'Y年M月')%></p>

    <div class="clearfix">
        <p class="col-left">收 <span class="income"><%=item.income%></span> 元</p>

        <p class="col-right">支 <span class="outcome"><%=item.pay%></span> 元</p>
    </div>
</li>
<!--收入-->
<% }else if(item.type==1){%>
<li class="payments-items income">
    <div class="clearfix">
        <p class="col-left payment-name">收入 - 转诊费用 </p>

        <p class="col-right price income">+<%=item.money%></p>
    </div>
    <div class="clearfix">
        <p class="col-left payment-info"><%=_.dateUtil.format(item.insertTime*1000,'Y.M.D H:F') %> <%=item.ext1%></p>

        <p class="col-right payment-status"><%=statusFormat('支付',item.status) %></p>
    </div>
</li>
<!--支出-->
<% }else if(item.type==0){ %>
<li class="payments-items cost">
    <div class="clearfix">
        <p class="col-left payment-name"> 支出 - 接诊费用</p>

        <p class="col-right price outcome">-<%=item.money%></p>
    </div>
    <div class="clearfix">
        <p class="col-left payment-info"><%=_.dateUtil.format(item.insertTime*1000,'Y.M.D H:F') %> <%=item.ext1%></p>

        <p class="col-right payment-status"><%=statusFormat(item.status) %></p>
    </div>
</li>

<% }else if(item.type==2){ %>
<li class="payments-items cost">
    <div class="clearfix">
        <p class="col-left payment-name"> 收入 - 接诊退款 </p>

        <p class="col-right price income">+<%=item.money%></p>
    </div>
    <div class="clearfix">
        <p class="col-left payment-info"><%=_.dateUtil.format(item.insertTime*1000,'Y.M.D H:F') %> <%=item.ext1%></p>

        <p class="col-right payment-status"><%=statusFormat('退款',item.status)%></p>
    </div>
</li>
<% } else if(item.type==3){ %>
<li class="payments-items cost">
    <div class="clearfix">
        <p class="col-left payment-name"> 提现 - 余额提现 </p>

        <p class="col-right price outcome">-<%=item.money%></p>
    </div>
    <div class="clearfix">
        <p class="col-left payment-info"><%=_.dateUtil.format(item.insertTime*1000,'Y.M.D H:F') %></p>

        <p class="col-right payment-status"><%=statusFormat('提现',item.status)%></p>
    </div>
</li>
<% } %>
<%  index++;   } %>





