<div class="wrapper">
    <% if(cashNum){ %>
       <div class="title"> 提现：<span class="cash-num">¥<span class="number"><%=cashNum%></span></span></div>
    <% }else{ %>
    <div class="title"><%=title%></div>
    <% }%>
    <div class="password-block">
        <div class="input-wrapper nofastclick">
            <input type="tel" class="js-paypassword" maxlength="6" onkeyup="this.value=this.value.match(/^[1-9]\d*(?:\.\d{0,2})?/)"/>
        </div>
        <div class="border-line js-border"></div>
        <div class="border-line js-border"></div>
        <div class="border-line js-border"></div>
        <div class="border-line js-border"></div>
        <div class="border-line js-border"></div>
        <div class="border-line last js-border"></div>
    </div>
</div>
<% if (title == '输入支付密码')  {%>
<div class="forget-pwd js-forget"><a href="/webapp/transformer/forgetpassword.html">忘记密码 </a></div>
<% } %>
