<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <title>Medlinker</title>
    <meta name="author" content=""/>
    <meta name="Copyright" content=""/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
    <div class="wrapper login">
        <div class="login-block">
            <div class="form-block">
                <input type="tel" name="phone" placeholder="请输入您的手机号码"/>
            </div>
            <div class="form-block">
                <a class="invitation-code" href="javascript:;">点击获取验证码</a>
            </div>
        </div>
        <a class="btn-blue" href="javascript:;">登录</a>
        <a class="register" href="javascript:;">注册医联</a>
    </div>
</body>
</html>