/* line 4, ../reset.scss */
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

/* line 10, ../reset.scss */
html, body, ul, ol, dd, dt, dl, p, input, textarea, figure, figcaption, button, blockquote, hr {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}

/* line 17, ../reset.scss */
ul, ol {
    list-style: none;
}

/* line 21, ../reset.scss */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/* line 27, ../reset.scss */
p {
    margin: 0;
    padding: 0;
}

/* line 32, ../reset.scss */
a, a:visited {
    text-decoration: none;
}

/* line 36, ../reset.scss */
img {
    border: 0;
    max-width: 100%;
}

/* line 41, ../reset.scss */
table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 47, ../reset.scss */
a img {
    border: 0;
}

/* line 50, ../reset.scss */
a {
    text-decoration: none;
    outline: 0;
}

/* line 54, ../reset.scss */
a:visited {
    text-decoration: none;
}

/* line 57, ../reset.scss */
a:hover {
    text-decoration: none;
}

/* line 60, ../reset.scss */
a:active {
    border: 0 none;
}

/* line 63, ../reset.scss */
p {
    word-wrap: break-word;
}

/* line 67, ../reset.scss */
select {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
}

/* line 72, ../reset.scss */
input, select, textarea {
    outline: 0;
    background: transparent;
    border: 0 none;
}

/* line 77, ../reset.scss */
input:focus, select:focus, textarea:focus, input:active, select:active, textarea:active {
    outline: 0;
    background: transparent;
    border: 0 none;
}

/* line 82, ../reset.scss */
option {
    font-weight: normal;
    display: block;
    padding: 0px 2px 1px;
    white-space: pre;
}

/* line 88, ../reset.scss */
::-webkit-inner-spin-button {
    visibility: hidden;
}

/* line 89, ../reset.scss */
::-webkit-datetime-edit-text {
    text-align: right;
}

/* line 90, ../reset.scss */
.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
}

/* line 98, ../reset.scss */
html,
body {
    font-family: 'PingFang SC', 'Lucica Grande', 'Helvatica Neue', 'Helvatica', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, serif;
    font-weight: 400;
    color: #000;
    background: #fff;
    min-height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    width: 100%;
}

/* line 113, ../reset.scss */
html {
    text-rendering: optimizeLegibility;
}

@media screen and (min-width: 320px) and (orientation: portrait) {
    /* line 2, ../mixin.scss */
    html {
        font-size: 75%;
    }
}
@media screen and (min-width: 400px) and (orientation: portrait) {
    /* line 8, ../mixin.scss */
    html {
        font-size: 87.5%;
    }
}
@media screen and (min-width: 540px) and (orientation: portrait) {
    /* line 14, ../mixin.scss */
    html {
        font-size: 125%;
    }
}
/* line 4, ../login.scss */
body, html {
    background: #0a121d;
}

/* line 7, ../login.scss */
body {
    background: url("../static/images/login-bg.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
}

/* line 12, ../login.scss */
.login {
    width: 100%;
}

/* line 15, ../login.scss */
.login-block {
    padding-top: 16.7rem;
}
/* line 17, ../login.scss */
.login-block .form-block {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 0rem;
    padding-right: 1.3rem;
    padding-bottom: 0rem;
    padding-left: 1.3rem;
}
/* line 21, ../login.scss */
.login-block input, .login-block .invitation-code {
    display: block;
    font-size: 1.6rem;
    line-height: 6rem;
    color: #fff;
    height: 6rem;
}
/* line 28, ../login.scss */
.login-block input {
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 33, ../login.scss */
.login-block .invitation-code {
    text-decoration: underline;
}

/* line 38, ../login.scss */
::-webkit-input-placeholder {
    color: #fff;
}

/* line 39, ../login.scss */
::-moz-placeholder {
    color: #fff;
}

/* line 40, ../login.scss */
:-ms-input-placeholder {
    color: #fff;
}

/* line 41, ../login.scss */
input:-moz-placeholder {
    color: #fff;
}

/* line 43, ../login.scss */
.btn-blue {
    text-align: center;
    display: block;
    background: #1394ed;
    font-size: 1.5rem;
    color: #fff;
    width: 12.5rem;
    height: 4rem;
    line-height: 4rem;
    margin-top: 4rem;
    margin-bottom: 19.25rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* line 58, ../login.scss */
.register {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #fff;
    text-decoration: underline;
    padding-bottom: 2.5rem;
}
