<!DOCTYPE html>
<html>
	<head>
	 <meta charset="UTF-8">
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <meta content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width" name="viewport">
     <meta name="apple-mobile-web-app-capable" content="yes"/>
     <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
     <meta name="format-detection" content="telephone=no"/>
     <meta name="format-detection" content="email=no"/>
     <!-- QQ浏览器 -->
     <meta name="x5-page-mode" content="app"/>
     <meta name="x5-fullscreen" content="true"/>
     <!--uc浏览器-->
     <meta name="full-screen" content="yes">
     <link href="../../../static/css/global.css" rel="stylesheet" type="text/css" />
     <link href="index.css" rel="stylesheet" type="text/css"/>
     <title>首页 -我的接诊</title>
	</head>
	<body>
		<!--固定头部-->
		<header>
		 <p class="head-title">
			<span>医联转诊</span>
			<a href="#" class="right-action">发布</a>
		</p>		
		</header>
		<!--主体内容-->
		<article class="container">
			<section>
			  <p class="doc-info"><img width="50" src="../../template/static/images/nickPic.png"/> <span>张医生,欢迎回到医联</span></p>
			  <ul class="tabs-item"><li><a>我的转诊</a></li><span class="left-line"></span> <li><a class="curr-item">我的接诊</a></li></ul>
		    </section>
		   <div class="patient-itemWrap">
				<section class="mt15 patient-item">
	              <p><span>马布里</span><span class="ml10">发布:2016.3.4</span><i class="patient-statue-wait">等待赴诊</i></p> 				
				</section>
				<section class="mt15 patient-Des" style="display: block;">
					<p><span>20岁</span><span class="ml10">男</span><span class="right-price"><i>200</i>元</span> </p>
					<p><span>联系电话:</span><a href="tel:15201398536">15201398536</a></p>
					<aside class="des-txt">
					  <p>病症类型：心脏不太好用</p>
					  <p>患者半年前单位常规体检行颈部超声发现甲状腺右叶结节，发现前及发现时无心悸多汗、呼吸困难声</p>
				    </aside>
				</section>
			</div> 
			<div class="patient-itemWrap">
				<section class="mt15 patient-item">
	              <p><span>马布里</span><span class="ml10">发布:2016.3.4</span><i class="patient-statue-wait">等待赴诊</i></p> 				
				</section>
				<section class="mt15 patient-Des">
					<p><span>20岁</span><span class="ml10">男</span><span class="right-price"><i>200</i>元</span> </p>
					<p><span>联系电话:</span><a href="tel:15201398536">15201398536</a></p>
					<aside class="des-txt">
					  <p>病症类型：心脏不太好用</p>
					  <p>患者半年前单位常规体检行颈部超声发现甲状腺右叶结节，发现前及发现时无心悸多汗、呼吸困难声</p>
				    </aside>
				</section>
			</div>
			<div class="patient-itemWrap">
				<section class="mt15 patient-item">
	              <p><span>马布里</span><span class="ml10">发布:2016.3.4</span><i class="patient-statue-wait">等待赴诊</i></p> 				
				</section>
				<section class="mt15 patient-Des">
					<p><span>20岁</span><span class="ml10">男</span><span class="right-price"><i>200</i>元</span> </p>
					<p><span>联系电话:</span><a href="tel:15201398536">15201398536</a></p>
					<aside class="des-txt">
					  <p>病症类型：心脏不太好用</p>
					  <p>患者半年前单位常规体检行颈部超声发现甲状腺右叶结节，发现前及发现时无心悸多汗、呼吸困难声</p>
				    </aside>
				</section>
			</div>
			<div class="patient-itemWrap">
				<section class="mt15 patient-item">
	              <p><span>马布里</span><span class="ml10">发布:2016.3.4</span><i class="patient-statue-wait">等待赴诊</i></p> 				
				</section>
				<section class="mt15 patient-Des">
					<p><span>20岁</span><span class="ml10">男</span><span class="right-price"><i>200</i>元</span> </p>
					<p><span>联系电话:</span><a href="tel:15201398536">15201398536</a></p>
					<aside class="des-txt">
					  <p>病症类型：心脏不太好用</p>
					  <p>患者半年前单位常规体检行颈部超声发现甲状腺右叶结节，发现前及发现时无心悸多汗、呼吸困难声</p>
				    </aside>
				</section>
			</div>
	    </article>
	    <!--固定底部-->
	    <footer>
	       <ul class="bottom-action">
	         <li><a href="#">患者改期</a></li><span class="bottom-vLine"></span>
	         <li><a href="#">患者爽约</a></li><span class="bottom-vLine"></span>
	         <li><a href="#">确认接收</a></li> 	
	        </ul>    	
	   </footer>
	</body>
</html>
