/*整体布局结构 begin 上中下结构*/
header,article.container,footer{position: absolute;left: 0;right: 0;margin:0;padding:0;}
article.container{top:3.5rem;bottom:3.5rem;overflow-y:scroll;}
header{top: 0;height:3.5rem;text-align: center;line-height: 3.5rem;background-color: #fff;}
footer{bottom: 0;height:3.5rem;background-color: #fff;line-height: 3.5rem;}
ol,ul{overflow: hidden;}
ul li{list-style: none;float:left;}
a{color:#007eff;}
/*整体布局结构 end*/
/*内容样式bengin*/
.doc-info{padding: 10px 0px;padding-left: 10px;color:#777777;}
.doc-info img{margin-right: 10px;}
.patient-statue-wait{color:#b3b3b3;position:absolute;right: 10px;font-size: 1rem;}
.right-action{position:absolute;right:15px;}
.tabs-item a{display: inline-block;height: 2.35rem;color:#777777; border-bottom: 2px solid transparent;}
.tabs-item a.curr-item{border-bottom: 2px solid #007eff; color: #007eff;}
.head-title{border-bottom:1px solid #d8d8d8;height: 3.4rem;}
.tabs-item{border-top: 1px solid #D8D8D8;height:2.5rem;line-height:2.5rem;position: relative;}
.tabs-item li{width:50% ;text-align: center;}
ul.bottom-action li {width:33%;text-align:center;}
ul.bottom-action li a{display: inline-block;width:100%;height:100%;}
article.container section{background-color:#fff;}
section.patient-Des{width:85%;margin: 15px auto;padding: 10px 15px;position: relative;background:#fff url(../../template/static/images/icon-bottom.png) repeat-x -4px bottom;background-size: 179% auto;display: none;}
aside.des-txt{border-top: 1px dashed #D8D8D8;padding: 15px 0px;margin-top: 10px;text-align: justify;color: #777777;}
section.patient-item{padding:10px 0px;padding-left: 10px;position: relative;}
.right-price{color:#fe8246;right: 10px;position: absolute;}
.right-price i{font-size: 2rem;}
.left-line{position: absolute;width: 1px;height: 80%;background-color: #d8d8d8;top: 3px;}
.bottom-vLine{position: absolute;width: 1px;height: 90%;background-color: #d8d8d8;bottom: 0px;}
/*内容样式end*/
