.transform-user-block {


}
.transform-user-block .user-wrapper {
    padding: 1rem 0;
    margin: 0 .6rem;
    border-bottom: 1px solid #d8d8d8;
}
.transform-user-block p {
    font-size: .7rem;
    color: #777;
    line-height: 1.2rem;
}
.transform-user p {
    float: left;
    margin-right: .25rem;
    margin-bottom: .5rem;
    font-size: .8rem;
    color: #000;
    font-weight: bold;
}
.transform-user p.md-right {
    float: right;
    font-size: .75rem;
    font-weight: normal;
}
.transform-user p.md-right span {
    color: #ff5a00;
}

.transform-info {
    padding: .5rem .6rem 2.5rem;
    color: #000;
}
.transform-info p {
    font-size: .75rem;
    line-height: 1.25rem;
}
.transform-info p.title {
    font-size: .85rem;
    line-height: 1.9rem;
    font-weight: bold;
}
.transform-info img {
    display: block;
    margin: .85rem auto;
    width: 100%;
}
.icon-arrow-left-blue {
    background: url("./static/images/icon-arrow-left-blue.png") no-repeat 0 0;
    width: .7rem;
    height: .85rem;

}
.btn-fixed-blue {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .85rem;
    color: #fff;
    background: #007eff;
    text-align: center;
}


.footer {
    background-color: #fff;
    /*padding: 1.75rem 0 .04rem;*/
    color: #1686F9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.user-record {
    position: relative;

}

.user-record li {
    text-align: center;
    border-right: 1px solid #E0E0E0;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .75rem;
}
.singer.user-record li {
    background: #007eff;
    color: #fff;
}

.user-record li:last-child {
    border-right: none;
}


.user-record .name2 {
    font-size: .7rem;
    display: inline-block;
    height: 1.85rem;
    line-height: 1.25rem;
}

.user-record .active .name2 {
    color: #007eff;
    border-bottom: 2px solid #007eff;
}

.user-record::before {
    content: '';
    border: none;
    border-top: 1px solid #E0E0E0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

 .item-ft {
     position: relative;
     width: 93%;
     margin: 0 auto;
     text-align: center;
     color: #777777;
     background-color: #fff;
     padding: 1rem 0;
}

.item-ft span {
    position: relative;
    display: inline-block;
    z-index: 10;
    padding: 0 0.5rem;
    background: #fff;
    color: #b3b3b3;
    font-size: .75rem;
}


.item-ft::after {
    content: '';
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #E0E0E0;
    line-height: 1px;
    left: 0;
    bottom: 1.5rem;
    width: 100%;
}

.wrapper {
    padding-bottom: 3rem;
    background-color: #fff;
}
