.wrapper {
    padding: 1.3rem .65rem;
}
.title {
    font-size: .75rem;
    color: #000;
    padding: 0 .15rem;
    margin-bottom: .3rem;
}
.form-block {
    font-size: .75rem;
    color: #707070;
    line-height: 1rem;
    padding-bottom: .4rem;
    border-bottom: 1px solid #d8d8d8;
    padding: .73rem .15rem;
    position: relative;
}
.invitation-code {
    float: right;
    font-size: .7rem;
    color: #007eff;
}
.btn-blue {
    background: #1787fb;
    text-align: center;
    display: block;
    font-size: .75rem;
    color: #fff;
    width: 6.25rem;
    height: 2rem;
    line-height: 2rem;
    margin: 2.5rem auto 0 auto;
    border-radius: .2rem;
}
input {
    outline: 0;
    background: transparent;
    border: 0 none;
    font-size: .75rem;
    line-height: 1rem;
    padding: 0;
    margin: 0;
}

input:focus {
    outline: 0;
    background: transparent;
    border: 0 none;
}

.disabled.invitation-code {
    opacity: .5;
}

.captcha-code {
    position: absolute;
    right: .15rem;
    top: .6em;
    z-index: 100;
    width: 5rem;
}
.captcha-code img {
    width: 100%;
}
::-webkit-input-placeholder { color:#b3b3b3; }
::-moz-placeholder { color:#b3b3b3; }
:-ms-input-placeholder { color:#b3b3b3; }
input:-moz-placeholder { color:#b3b3b3; }