
<%
var date = new Date();
date = new Date(date.getFullYear(),date.getMonth(),date.getDate());
var start, end, _date;
var _dataTime = date.getTime()/1000;
var _start = _dataTime + 3600*9;


date.setTime(_dataTime * 1000);
if (_dataTime < treatStartTime) {
    date.setTime(treatStartTime * 1000);
    _start = treatStartTime + 3600*9;
}
_date = _.dateUtil.format(date, 'Y.M.D');

date.setTime(treatStartTime * 1000);
start = _.dateUtil.format(date, 'Y.M.D');
date.setTime(treatEndTime * 1000);
end =  _.dateUtil.format(date, 'Y.M.D');
money = Math.round(money);
%>
<div class="rx-info-wrap">
    <div class="rx-info-cost">
        <div class="price"><%=money%></div>
        <div class="tips">
            转诊费用
        </div>
    </div>
    <div class="rx-info-desc">
        <div class="user-info">
            <span><%=patientGender===1?"男":"女"%></span> <span><%=patientAge%></span> 岁
        </div>
        <div>
           <span>病症类型：<%=symptomsType%></span>
        </div>
        <div>
            <span>希望接诊时间：<br><%=start%> - <%=end%></span>
        </div>
    </div>
</div>

<div class="line10"></div>


<div class="list-panel input-panel">
    <div class="list-item nonearrow two-col">
        <span>接收医院</span>
        <span class="v"><%=rxDoctorHospital%></span>
    </div>
    <div class="list-item auto-height nonearrow two-col">
        <span>接收地址</span>

        <% if(rxDoctorHospitalAddress) { %>
            <span class="v"><%=rxDoctorHospitalAddress%></span>
        <% } else { %>
            <span class="v"><input  class="js-address" type="text" placeholder="请输入接收地址"></span>
        <% } %>
    </div>
    <div class="list-item nonearrow clearfix">
        <span>主治医师</span>
        <span class="v"><%=rxDoctorName%></span>
    </div>

    <div class="list-item nonearrow">
        <span>联系电话</span>
        <span class="v"><%=rxDoctorPhone%></span>
    </div>

    <div class="list-item nonearrow js-select-time">
        <span>赴诊日期</span>
        <span class="v rxtreat-time" data-start="<%=_start%>">
            <%=_date%> 09:00
        </span>
    </div>

</div>

<div class="text-tips">
本医院会依照国家法律规定进行公正公平的收费
</div>

<div class="btn-wrap">
    <div class="pay-box accept-btn js-accept">
       去付款<span class="countdown"></span>
    </div>
</div>













