<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta content="width=device-width,user-scalable=0,initial-scale=1,maximum-scale=1" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <title>Medlinker</title>
    <meta name="author" content=""/>
    <meta name="Copyright" content=""/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="details.css">
</head>
<body>
    <div class="title-bar clearfix">
        <a class="return-back icon icon-arrow-left-blue" href="calendar.html"></a>
        <h1>转诊单详情</h1>
    </div>
    <div class="wrapper">
        <div class="transform-user-block">
            <div class="transform-user clearfix">
                <p>马布里</p>
                <p>20岁</p>
                <p>男</p>
                <p class="md-right">转诊费用：<span>200</span>元</p>
            </div>
            <p>联系方式：18701439870</p>
            <p>身份证号：11013456987620387</p>
            <p>接诊概况：2016.03.01－2016.03.30</p>
            <p>北京大学第三医院</p>
            <p>吕海军 主任医师 1381128888</p>
        </div>
        <div class="transform-info">
            <p class="title">病症类型：病毒性甲状腺肿</p>
            <p>患者半年前单位常规体检行颈部超声发现甲状腺右叶结节，发现前及发现时无心悸多汗、呼吸困难、声音</p>
            <img src="../static/images/test.jpg" alt="" width="670"/>
        </div>
    </div>
    <a class="submit btn-fixed-blue" href="javascript:;">确认发布</a>
</body>
</html>