.wrapper {
    padding: 1.5rem .75rem 2.5rem .75rem;
    moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.no-bind img {
    display: block;
    margin: 6.5rem auto 1.5rem auto;
    width: 3.25rem;
}
.no-bind p {
    text-align: center;
    color: #b3b3b3;
}
.bank-card-list li {
    padding: .75rem 1rem;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.25rem;
    border-radius: .15rem;
    position: relative;
    margin-bottom: 1.5rem;
}
.bank-bg {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.logo {
    position: absolute;
    top: .5rem;
    right: .75rem;
    width: 3.9rem;
}
.bank-info {
    margin-bottom: 3.3rem;
}
.logo img {
    vertical-align: middle;
}
p.card-name {
    font-size: .95rem;
    margin-bottom: 3px;
    display: inline-block;
}
.bank-info span {
    font-size: .65rem;
}
.card-num span {
    margin-right: 1.1rem;
    font-size: .95rem;
    line-height: 31px;
    float: left;
    vertical-align: middle;
    margin-top: 4px;
}
.btn-fixed-blue {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .85rem;
    color: #fff;
    background: #007eff;
    text-align: center;
}

.bank-1 {
    background: url('../transformer/static/images/bg_1.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: .35rem .35rem .75rem rgba(57, 145, 252, .3);
}
.bank-2 {
    background: url('../transformer/static/images/bg_2.png') no-repeat center center;
    background-size: cover;
    box-shadow: .35rem .35rem .75rem rgba(250, 108, 57, .3);
}
.bank-3 {
    background: url('../transformer/static/images/bg_3.png') no-repeat center center;
    background-size: cover;
    box-shadow: .35rem .35rem .75rem rgba(186, 54, 255, .3);
}

.circle {
    position: absolute;
    right: 1rem;
    bottom: .75rem;
    width: 1.2rem;
    height: 1.2rem;
    background: #ffef00;
    opacity: .8;
    border-radius: 50%;
}
.circle-1 {
    right: 1.7rem;
    opacity: .3;
}
.btn-fixed-blue {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .85rem;
    color: #fff;
    background: #007eff;
    text-align: center;
}

