<div class="wrapper">
    <ul class="bank-card-list">
      <% if (list.length == 0) { %>
        <div class="no-bind">
          <img src="static/images/icon-payfail.png" />
          <p>
            请添加绑定银行卡
          </p>
        </div>
      <% } else {%>
        <% for(var i = 0, len = list.length; i < len; i++) {
              var index = i + 1;
              var item = list[i];
              var cardNo = item.cardNo;
              var cardNum = cardNo.substr(cardNo.length-4);
        %>
          <li class="bank-<%=index%> js-card" data-id="<%=item.id%>" data-index="<%=index%>">
              <img class="logo" src="../transformer/static/images/logo-EN.png" />
              <div class="bank-info clearfix">
                  <p class="card-name"><%=item.bankName%></p> <span><%=item.cardTypeName%></span>
              </div>
              <div class="card-num"><span>****   ****   ****</span><%=cardNum%></div>
              <div class="circle"></div>
              <div class="circle circle-1"></div>
          </li>
        <% } %>
      <% } %>
    </ul>
</div>
<a class="btn-fixed-blue js-bind-card" href="javascript:;">添加银行卡</a>
