
.group-select-wrap {
    margin: 50px;
}

.item-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.item {
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
