.parent:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}
.v {
    position: relative;

    line-height: 2.5rem;
    font-size: .8rem;
    float: left;
}
.v .close {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.4rem;
    width: .8rem;
    height: .8rem;
    display: none;
    text-align: center;
    line-height: .8rem;
    color: #fff;
    background: #e6e6e6;
    border-radius: 50%;
}
.v input {
    box-sizing: border-box;
}
.v.current .close {
    display: block;
}
.v.current input {
    padding-right: 1.05rem;
}
