.wrapper {
    padding-top: 3.5rem;
}
.title {
    font-size: .7rem;
    color: #777777;
    margin-bottom: 1rem;
    text-align: center;
}
.input-wrapper {
    position: relative;
    top: .65rem;
}

input {
    outline: 0;
    background: transparent;
    border: 0 none;
    font-size: .7rem;
    line-height: .1em;
    padding: 0;
    color: transparent;
    display: block;
    width: 8.2rem;
    margin: 0 auto;
    letter-spacing: 1rem;
    -webkit-text-fill-color: transparent;
}

input:focus {
    outline: 0;
    background: transparent;
    border: 0 none;
}

.password-block {
    text-align: center;
    vertical-align: top;
    line-height: 0px;
    margin-bottom: 2.5rem;
}

.border-line {
    display: inline-block;
    margin-right: .65rem;
    border-bottom: 3px solid #000;
    background-color: transparent;
    width: .6rem;
    height: .6rem;
    padding-bottom: .25rem;
}
.border-line.active {
    background: #b2b2b2;
    padding: 0;
    border-bottom: 0;
    border-radius: 50%;
    margin-bottom: .4rem;
}
.border-line.last {
    margin-right: 0;
}
.forget-pwd {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}
.cash-num{
    color: #f7631b;
}
.cash-num .number{
    font-size: 1.5rem;
}
