/*主体内容*/
article.container {
    background-color: #efefef;
    padding-bottom: 2.5rem;
    overflow: hidden;
}

footer {
    height: 55px;
}

ul.paySuc-bottom {
    position: relative;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.right-line {
    top: .25rem;
    background-color: #cfcfcf;
    height: 2.25rem;
    width: 1px;
    position: absolute;
    left: 50%;
}

ul.paySuc-bottom li {
    background-color: #fff;
    float: left;
    width: 50%;
    text-align: center;
    color: #007eff;
    line-height: 2.75rem;
    height: 2.75rem;
}

.paySucMsg {
    text-align: center;
    color: #007eff;
    font-size: .9rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.paySucNotice {
    font-size: .7rem;
    color: #777777;
    text-align: center;
    margin-bottom: 1.75rem;
    padding: 0 .5rem;
}

.patient-card {
    padding: 0px .65rem;
}

.patient-details {
    background: #fff url(static/images/icon-paySucBottom.png) no-repeat center bottom;
    color: #6e6e6e;
    padding: 0px .75rem;
    line-height: 30px;
    padding-bottom: 20px;
    background-size: 100% auto;
}

.yo-patient {
    background: url(static/images/icon-medlinker.png) no-repeat 0px center;
    background-size: 1rem 1rem;
    padding: 1rem 1.25rem;
    border-bottom: 1px dashed #d6d6d6;
    margin-bottom: .75rem;
}