

.user-info {
    background-color: #fff;
    position: relative;
    margin-bottom: .65rem;
}

.user-city {
    position: absolute;
    right: 0;
    top: .9rem;
    z-index: 50;
    padding: .5rem .65rem .5rem .5rem;
}

.user-city::before {
    content: '';
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    border-top: 1px solid #a2a2a2;
    border-right: 1px solid #a2a2a2;
    position: absolute;
    left: -.5rem;
    margin-top: -1px;
    -webkit-transform: rotate(135deg) translateY(-50%);
    transform: rotate(135deg) translateY(-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-info .user-img {
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    padding: .98rem .65rem;
    float: left;
}

.user-info .user-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.user-info .user-desc {
    display: table-cell;
    height: 3.76rem;
    vertical-align: middle;
    overflow: hidden;
}

.user-info .user-desc .user-name {
    font-size: .65rem;
    color: #777777;
    line-height: 1rem;
    overflow: hidden;
    width: 12.1rem;
}



.user-info .user-desc .user-tips {
    color: #BDBDBD;
}

.user-record {
    background-color: #fff;
    padding: .45rem 0;

}

.user-record li {
    text-align: center;
    border-right: 1px solid #E0E0E0;
    height: 1.5rem;
}

.user-record li:last-child {
    border-right: none;
}


.user-record .name2 {
    font-size: .7rem;
    display: inline-block;
    height: 1.85rem;
    line-height: 1.5rem;
}

.user-record .active .name2 {
    color: #007eff;
    border-bottom: .1rem solid #007eff;
    width: 3.75rem;
}

.b-list-item {
    background-color: #efefef;

}
.b-list-item:first-child {
    border: 0;
}
/*.b-list-item.active  {*/
/*border: none;*/
/*}*/
.b-list-item .item-hd {

    height: 3rem;
    line-height: 3rem;
    position: relative;
    font-size: .7rem;
    background: #fff;
}
.b-list-item .item-wrapper {
    margin-left: .65rem;
    margin-right: .65rem;
    border-top: 1px solid #d8d8d8;
}
.b-list-item:first-child .item-wrapper {
    border-top: 0;
}
.b-list-item .item-hd .name {
    width: 5rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.b-list-item .item-bd {
    display: none;
}

.b-list-item .item-ft {
    display: none;
}

.b-list-item.active .item-ft {
    display: block;
}

.b-list-item.active .item-bd {
    display: block;
}

.item-hd .status {
    color: #b3b3b3;
    position: absolute;
    right: .75rem;
    font-size: .7rem;
    text-overflow: ellipsis;
    /* width: 2.5rem; */
    overflow: hidden;
    white-space: nowrap;
}

.b-list-item .item-bd {
    position: relative;
    margin: .75rem .75rem .85rem .75rem;
    padding: 1rem .9rem 1.3rem .9rem;
    background: #fff url(static/images/icon-bottom.png) repeat-x -0.2rem bottom;
    background-size: 100% auto;
    color: #777;
}

.b-list-item .item-ft {
    position: relative;
    margin: 0 .75rem .85rem .75rem;
    text-align: center;
    color: #777777;
    top: -0.1rem;
    font-size: .75rem;
}

.b-list-item .item-ft span {
    position: relative;
    display: inline-block;
    z-index: 10;
    padding: 0 0.5rem;
    background-color: #efefef;
    color: #b3b3b3;
}


.b-list-item .item-ft::after {
    content: '';
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #E0E0E0;
    line-height: 1px;
    left: 0;
    bottom: 0.5rem;
    width: 100%;
}


.item-bd .line {
    margin: 1rem 0;
    border: none;
    border-top: 1px dashed #D8D8D8;
}

.item-bd .line2 {
    border: none;
    border-top: 1px solid #D8D8D8;
    margin: .5rem 0;
}

.item-bd .p {
    line-height: 1.25rem;
    font-size: .7rem;
}


.item-bd .price {
    float: right;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #fe8246;
}

.item-bd .price span {
    font-size: .7rem;

}

.item-bd .p2 {
    color: #777777;
    line-height: 1.25rem;
    font-size: .7rem;
}
.item-bd .p2 .fr {
    width: 11.9rem;
}

.item-bd .user-record {
    position: relative;
    padding: 0.6rem 0;
    top: 1rem;
    margin: 0;
}

.item-bd .user-record::before {
    content: '';
    border: none;
    border-top: 1px solid #E0E0E0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.item-bd .user-record li {
    color: #007eff;
    line-height: 1.2rem;
    height: 1.2rem;
    font-size: .75rem;
}

.mr10 {
    display: inline-block;
    width: 3.5rem;
    margin-right: 0;
}

.auth-text {
    text-align: center;
    color: #C6C6C6;
}

.auth-wrapper img, .js-none-data img {
    display: block;
    height: 3.55rem;
    margin: 4rem auto 3rem auto;
}

.auth-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #007eff;
    width: 100%;
    text-align: center;
    color: #fff;
}

.auth-btn.disabled {
    background-color: #b2b2b2;
    color: #fff;
}

.icon-none-data {
    height: 7rem;
    background: url(static/images/icon-file.png) no-repeat center center;
    background-size: 2.5rem;
}

.icon-text {
    text-align: center;
    color: #C6C6C6;
}

.order-items {
    background-color: #fff;
    padding:0;
}
.order-items .item-wrapper {
    padding: .5rem  0;
    margin: 0 .65rem;
    border-top: 1px solid #d8d8d8;
}
.order-items:first-child .item-wrapper{
    border: 0;
}

.order-items .title {
    position: relative;
    line-height: 1.4rem;
}

.order-items .title .left {
    position: absolute;
    top: 0;
    right: 0;
}

.order-items .title .left strong {
    font-weight: normal;
    color: #fe8246;
}

.order-items .title1 {
    font-weight: bold;
    line-height: 1.4rem;
}
.order-items .content {
    color: #777;
}














