<div class="user-info">
    <% if(isDirectional === false) { %>
    <span class="user-city js-user-city"><%=_.mySubstr(cityName, 3)%></span>
    <% } %>

    <div class="user-img  js-topage">
        <img src="" data-src="<%=avatar%>" alt="">
    </div>
    <div class="user-desc js-topage">
        <div class="user-name"><%=name%>医生，欢迎回到医联</div>
    </div>
    <div class="line">
    </div>
    <ul class="flex-box user-record js-switch-list" >
        <% if(isDirectional === false) { %>
        <li class="flex-item <% if(tabIndex==1) { %> active <%}%> " data-tag="1" ><div class="name2">转诊需求</div></li>
        <% } %>
        <li class="flex-item <% if(tabIndex==2) { %> active <%}%> " data-tag="2" ><div class="name2">我的转诊</div></li>
        <li class="flex-item <% if(tabIndex==3) { %> active <%}%> " data-tag="3" ><div class="name2">我的接诊</div></li>
    </ul>
</div>

<div class="js-list-wrapper list-wrap">

</div>

<div class="auth-wrapper js-auth-wrapper" style="display: none; ">
    <img src="static/images/icon-auth.png" />
    <div class="auth-text js-auth-text">
        为保证患者就诊真实、安全,请先进行资格认证
    </div>
    <div class="js-auth-btn auth-btn">去认证</div>
</div>

<div class="js-loading inline-page-msg " style="display: none; ">正在加载...</div>

<div class="js-none-data" style="display: none; " >
    <img src="static/images/icon-file.png" />
    <div class="none-data-wrap">
        <div class="icon-text js-icon-text">
            暂无转诊
        </div>
    </div>
</div>

<div class="js-loading-end inline-page-msg" style="display: none;" >没有更多了</div>
