<%
var item;
var date = new Date();
var _date;
var _date1;
var _desc;

var item1 = {};
var k, i1, len1;
var flag = true;
%>

<% for(var i = 0, len = list.length; i < len; i++) { %>
<% flag = true; %>
<%
item = list[i];
date.setTime(item.insertTime * 1000);
_date = _.dateUtil.format(date, 'Y.M.D');

date.setTime(item.treatTime * 1000);
_date1 = _.dateUtil.format(date, 'Y.M.D');
if(item.treatTime === 0) {
_date1 = '日期未定';
}
var name = item.patientName.length > 5 ? item.patientName.substr(0, 5) + '...' : item.patientName;

var isShow = function(status) {
    var _show = true;
    var _arr = [1, 2];
    if(_.indexOf(_arr, status) != -1) {
        _show = false;
    }
    return _show;
};

%>
<div class="b-list-item js-item-root "
     data-tel="<%=item.patientPhone%>"
     data-time="<%=item.treatTime%>"
     data-docId="<%=item.toDoctorId%>"
     data-id="<%=item.orderId%>" >
    <div class="item-hd js-item">

        <div class="item-wrapper">
            <span class="name"><%=name%></span>
            <%if(item.treatTime){%>
            <span class="date">接诊：<%=_date1%></span>
            <% } %>
            <span class="status js-status"><%=item.orderStatus.list%></span>
        </div>
    </div>

    <div class="item-bd">
        <div class="js-to-item">
            <div class="price"><%=parseInt(item.money)%><span>元</span></div>
            <div class="p">
                <span ><%=item.patientAge%>岁</span>
                <span class="ml10"><%=item.patientGender == 1 ? '男' : '女'%></span>
            </div>
            <%if(isShow(item.orderStatusId)){%>

            <div class="p">
                <span class="mr10">联系方式：</span><a href="tel:<%=item.patientPhone%>"><%=item.patientPhone%></a>
            </div>
            <div class="p">
                <span  class="mr10">身份证号：</span><span><%=item.patientIDNo%></span>
            </div>
            <% } %>

            <div class="line">
            </div>

            <div class="p">
                <span  class="mr10">病症类型：</span><span><%=item.symptomsType%></span>
            </div>

            <div class="p">
                <%=_.mySubstr2(item.symptomsDesc, 56)%>
            </div>

        </div>

        <% for(i1 = 0, len1 = map.length; i1 < len1; i1++) { %>
        <% _item = map[i1];  %>
        <% for(k in _item) { %>
        <% if(_.indexOf(_item[k], item.orderStatusId) != -1) { %>
        <% flag = false;  break; %>
        <% } %>
        <% } %>
        <% } %>

        <ul class="flex-box js-click-items user-record " <%if(flag){%> style="display: none;" <%}%>  >
        <% for(i1 = 0, len1 = map.length; i1 < len1; i1++) { %>
        <% _item = map[i1]; %>
        <% for(k in _item) { %>
        <% if(_.indexOf(_item[k], item.orderStatusId) != -1) { %>
        <%=k%>
        <% } %>
        <% } %>
        <% } %>
        </ul>

    </div>

    <div class="js-status2">
        <%if(flag) { %>
        <div class="item-ft " >
            <span class="js-status2-txt"><%=item.orderStatus.detail%></span>
        </div>
        <% } %>
    </div>

</div>
<% } %>


