
.doc-info-wrap {
    position: relative;
}

.doc-info-wrap .doc-img {
    width: 3.15rem;
    height: 3.15rem;
    overflow: hidden;
    padding: 1rem 0.65rem;
    position: absolute;
    left: 0;
    top: 0.35rem;

}

.doc-info-wrap .doc-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.doc-info {
    margin: 0 0 1rem 4.5rem;
    padding: 1.15rem 0 0 0;
}

.doc-info .name {
    font-size: 0.85rem;

}

.doc-info-wrap .user-tips {
    color: #BDBDBD;
    font-size: 0.65rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:10rem;
}

.doc-summary {
    padding: 1.4rem 0.65rem;
background-color: #fff;
}

.doc-summary .key {
    font-size: .75rem;
    margin: 0 0 0.5rem 0;
}

.doc-summary .value {
    font-size: 0.7rem;
    color: #BDBDBD;
}

.status-bar-wrap {
    position: relative;
    text-align: center;
    margin: 0.75rem;
}

.status-bar-wrap .text-line {
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #E0E0E0;
    line-height: 1px;
    left: 0;
    bottom: 0.5rem;
    width: 100%;
}

.status-bar {
    position: relative;
    font-size: 0.75rem;
    text-align: center;
    color: #3B93FA;
    display: inline-block;
    z-index: 10;
    background-color: #fff;
    width:100%;
    height: 2.75rem;
    line-height: 2.75rem;
}

.toolbar-wrap {
    text-align: center;
    color: #3B93FA;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    padding-top: 0.25rem;
    background-color: #fff;
    z-index: 20;
}

.toolbar-wrap .line {
    margin-bottom: 0.25rem;
}

.toolbar .flex-item {
    border-right: 1px solid #E0E0E0;
    height: 2.25rem;
    line-height: 1.9rem;
}

.toolbar .flex-item:last-child {
    border-right: none;
}

.user-tips {
    position: relative;
}

.user-tips .cm-rated-wrap {
    position: absolute;
    left: 3.25rem;
    top: 0;
}

.doc-info-wrap .icon-tel {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    right: 1rem;
    top: 2rem;
    background: url(./static/images/icon-tel.png) 0 0 no-repeat;
    background-size: 100%;

}

.doc-info-wrap .icon-loc {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    right: 1rem;
    bottom: 0.3rem;
    background: url(./static/images/icon-loc.png) 0 0 no-repeat;
    background-size: 100%;

}
.footer {
    background-color: #fff;
    /*padding: 1.75rem 0 .04rem;*/
    color: #1686F9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.item-ft {
    position: relative;
    width: 93%;
    margin: 0 auto;
    text-align: center;
    color: #777777;
    background-color: #fff;
    padding: 1rem 0;
}

.item-ft span {
    position: relative;
    display: inline-block;
    z-index: 10;
    padding: 0 0.5rem;
    background: #fff;
    color: #b3b3b3;
    font-size: .75rem;
}


.item-ft::after {
    content: '';
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid #E0E0E0;
    line-height: 1px;
    left: 0;
    bottom: 1.5rem;
    width: 100%;
}








