<% 
	var date = new Date();
	date.setTime(treatTime * 1000);
	_date = _.dateUtil.format(date, 'Y.M.D H:F');
%>
<div class="doc-info-wrap">
    <div class="doc-info">
        <div class="name">
           <%=name %>
        </div>
        <div class="user-tips">
         <%=title %> <%=section %>
        </div>
        <div class="user-tips">
            医生评分:
            <div class="cm-rated-wrap cm-rated-wrap-small  js-rated-wrap">
                <div class="cm-star1"></div>
                <div class="cm-star2 js-rated" style="width:<%=score/5*100 %>%;"></div>
            </div>
        </div>
        <div class="line2"></div>

        <div class="name">
           <%=_date%>
        </div>
        <div class="user-tips">
             <%=hospital %>
        </div>

    </div>
    <div class="doc-img">
        <img src=<%=avatar%> alt="">
    </div>
    <div class="icon-tel js-tel"></div>
    <div class="icon-loc js-getmap"></div>

</div>

<div class="line20"></div>

<div class="doc-summary">
    <div class="key">
        医生简介
    </div>
    <div class="value">
    	<%=intro %>
    </div>
</div>

<div class="footer orderStatus-msg">
    <%if(orderStatusId==4||orderStatusId==7){%>
    <div class="item-ft">
        <span>已同意,请你 <%=_date %> 赴诊</span>
    </div>
    <%} else if(orderStatusId==5){%>
    <div class="item-ft">
        <span>已拒绝赴诊</span>
    </div>
    <%}else if(orderStatusId==6){%>
    <div class="item-ft">
        <span>你已爽约</span>
    </div>
    <%}%>
</div>

	 
<%if(orderStatusId==3){%> 
<div class="toolbar-wrap">	
  <div class="line"></div>
   <ul class="flex-box toolbar ">	
	    <li class="flex-item js-refusedoctor">拒绝赴诊</li>
	    <li class="flex-item js-agreedoctor">同意赴诊</li>
   </ul>
 </div>
<% } %>
 


