
  /*主体内容*/
  article.container{
      position: absolute;
      top: 0;
      bottom:55px;
      left: 0;
      right: 0;
  }
  article.payfail{
      background: url(static/images/icon-payfail.png) no-repeat center 132px;
      background-size:71px 59px;
      padding-top:230px;
      text-align: center;
      background-color: #fff;
  }
  footer{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 55px;
  }
  .payfailMsg{
      font-size:16px;
      color:#fc7535;
      margin-bottom:13px;
  }
  .payfailTxt{
      font-size:14px;
      color: #777777;
  }
  footer div.payAgain{
      font-size:17px;
      line-height: 55px;
      height: 55px;
      background-color:#007eff;
      color: #fff;text-align: center;
  }
