<%
var layout = entity.get();
var setout = setoutTimeEntity.get();
var arrive = arriveTimeEntity.get();
var shifa = shifaEntity.get();
var yupiao = yupiaoEntity.get();
%>


<div class="more-filter-wrapper">
    <div class="more-filter-line js_setout_wapper <%if(layout.setout){ %> active <%} %>">
        <h3 class="filter-time-title">
            出发时段
             <span class="fr js_setout_name"><%=setoutTimeEntity.getCheckedName() || '' %></span>
            </h3>
        <ul class="js_setout_list" >
            <% for(var i = 0, len = setout.length; i < len; i++) { %>
                <li data-index="<%=i %>"class=" <%if(setout[i].checked){ %> active <%} %>" ><%=setout[i].name %></li>
            <%} %>
        </ul>
    </div>
    <div class="more-filter-line js_arrive_wapper <%if(layout.arrive){ %> active <%} %>">
        <h3 class="filter-time-title">
            到达时段
             <span class="fr js_arrive_name"><%=arriveTimeEntity.getCheckedName() || '' %></span>
            </h3>
        <ul class="js_arrive_list" >
            <% for(i = 0, len = arrive.length; i < len; i++) { %>
                <li data-index="<%=i %>" class=" <%if(arrive[i].checked){ %> active <%} %>" ><%=arrive[i].name %></li>
            <%} %>
        </ul>
    </div>

    <div class="more-filter-line1">
        <span class="fl">仅显示始发车 </span><span class="fr"><i class="icon-switch <%if(shifa){ %> active <%} %> js_shifa_switch">
        </i></span>
    </div>
    <div class="more-filter-line1">
        <span class="fl">仅显示有票 </span><span class="fr"><i class="icon-switch <%if(yupiao){ %> active <%} %> js_yupiao_switch">
        </i></span>
    </div>
    <div class="btn-wrapper">
        <span class="btn-primary full-width js_search">确定</span>
    </div>
</div>
