.page-contacts .contact-add {
 height : 50px;
 line-height: 50px; 
 border-bottom: 1px solid #e5e5e5;
 
}
  
.page-contacts .contact-list {
  overflow: hidden;
  
}

.page-contacts .contact-list .name {
  font-size: 15px;
  width: 50px;
  display: inline-block;
}

.page-contacts .contact-list .value {
  font-size: 15px;
  padding-left: 10px;
  
}


.page-contacts .list-item {
  position: relative;
  /*
  border-bottom: 1px solid #e5e5e5;
*/

}

.page-contacts .list-item .icon-circle-minus{
    top: -6px;
    left : -4px;
}

.page-contacts .list-item .icon-circle-minus::before{
      background-color: #f06463;
}
 
.page-contacts .list-item.active {
  border-bottom: 1px solid #e5e5e5;
}


.page-contacts .list-item .checkbox{
  position: absolute;
  top: 49px;
  left: 25px;
}

.page-contacts .list-item .edit{
    position: absolute;
  top: 18px;
  right: 60px;
  padding: 8px;
  display: none;
}

.page-contacts .list-item .delete{
    position: absolute;
  top: 18px;
  right: 20px;
  padding: 8px;
}


.page-contacts .item-info .info-detail {
  padding: 25px 10px 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.page-contacts .list-detail .info-line{
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  
}

.page-contacts .list-item .info-type{
  height: 50px;
  padding: 10px 10px 10px 0;
  line-height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  
}

.page-contacts .list-item .info-type .all, .list-item .info-type  .half{
 display:  inline-block;
 padding: 0 12px;
 margin: 0 2px;
 height: 30px;
 line-height: 30px;
 border: 1px solid ;
 border-radius: 15px;
}

.page-contacts .list-item .info-type .all.active, .list-item .info-type  .half.active{
  border-color: #00b358;
  color: #00b358;
}

.page-contacts .list-item .info-setting{
  height: 50px;
  padding: 10px 10px 10px 0;
  line-height: 50px;
  overflow: hidden;
  display: none;
  
}

.page-contacts .list-item .info-setting .name {
  width: 100px;
}

.page-contacts .fixd-bottom-wrapper .fixd-box {
  border-top: 1px solid #e5e5e5;
  
}

.page-contacts .fixd-box .description {
  text-align: center;
  color: #8c8c8c;
  margin-right: 150px;
  font-size: 16px;
}

.page-contacts .fixd-box .description .num{
  color: #00b358;
}

.page-contacts .fixd-box .ok {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  background-color: #00b358;
  font-size: 18px;
  width: 120px;
  height: 50px;
  text-align: center;
}


/*
一般情况下，

*/
.page-contacts.b-normal .fixd-bottom-wrapper{
 display: none; 
}

.page-contacts.b-normal .list-item .edit{
  display:  block;
    top: 20px;
}


.page-contacts.b-normal .checkbox{
 display: none; 
}

.page-contacts.b-normal .item-info .info-detail {
 padding-left: 20px;
  
}

.page-contacts.addQpr .list-item .item-info{
  margin-left: 70px;
}

.page-contacts.addQpr .delete{
 display: none;
}

.page-contacts.addQpr .list-item.active .info-setting {
  display: block;
  
}

.page-contacts.addContact .delete{
 display: none;
}
.page-contacts.addContact .list-item .item-info{
  margin-left: 70px;
}

.page-contacts.addContact .info-detail {
 padding-left: 20px;
}

.page-contacts.addContact .fixd-bottom-wrapper{
 display: none; 
}