
body .page-getecoupon{
  background-color: #fff;
  padding-bottom: 20px;
}

.page-getecoupon .ecopon-wrapper{
  width: 100%;
  height: 568px;
  background: url(../images/bg-getecoupon.png) no-repeat 0 center;
  background-size: 100% 568px ;
  overflow: hidden;
  max-width: 450px;
  margin: -65px auto 0;
 }
 
 .page-getecoupon .msg-title {
   font-size: 14px;
   color: #540606;
   text-align: center;
   padding: 5px;
 }
 
.page-getecoupon .banner img {
  width: 100%;
   
 }
 
.page-getecoupon .tips {
  font-size: 13px;
  color: #5c5c5c;
  text-align: center;
  margin: 0 0 10px;
  
}

.page-getecoupon .tips h2 {
 line-height: 1.5;
  
}

.page-home .user-pic img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.page-getecoupon .ecoupon {
  margin: 218px 0 85px;
  text-align: center;
}

.page-getecoupon .ecoupon .title{
  font-size: 25px;
  color: #fd7e01;
    font-weight: 500;
}

.page-getecoupon .ecoupon-code {
  color: #5c5c5c;
  font-size: 12px;
  text-align: center;
}

.page-getecoupon  .txt-wrapper  {
  margin: 10px 60px;
}

.page-getecoupon  .txt-wrapper input {
  border: 0 none;
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
  color: #333;
  border-radius: 5px;
  border:1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-getecoupon  .btn-wrapper {
  margin: 25px 50px 15px;
}

.page-getecoupon .btn-primary {
  border-radius: 50px;
  
}

.page-getecoupon .tips-end{
  font-size: 13px;
  color: #551a8b;
  text-align: center;
}

.page-getecoupon .msg{
  width: 180px;
  position: relative;
  margin: 30px auto 30px;
  font-size: 14px;
  color: #105cb6;
  line-height: 22px;
  left: 10px;
}

.page-getecoupon  .success:before{
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #00b358;
  border-left: 2px solid #00b358;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: -24px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

.page-getecoupon  .fail:before{
  position: absolute;
  content: "";
  background: url(../images/icon-fail.png) no-repeat 0 center;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  top: 50%;
  margin-top: -12px;
  left: -30px;
}

.page-getecoupon .user-img{
  text-align:  center;
  
 }
 
.page-getecoupon .user-img img {
  width : 80px;
  height: 80px;
  border-radius: 40px;
  
}