

 .btn-primary {
  border-radius: 50px;
}

 .index-btn-wrapper {
  margin: 25px 50px;
}

 .search-box {
  position: relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
  overflow: hidden;
  margin: 10px 10px 0;
  border-radius: 10px;
}

 .search-box .start{
  margin: 0 10px 0 50px;
  border-bottom: 1px solid #e5e5e5;
  
}

 .search-box .end{
  margin: 0 10px 0 50px;
}


 .search-line {
  position: relative;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}

 .search-box .search-line::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -1px;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

 .search-box .icon-swap {
  position: absolute;
  top: 10px;
  left: 6px;
}

 .search-line .title {
  font-size: 15px;
  color: #8c8c8c;
  float: left;
  min-width: 40px;
}

 .search-line .tips {
  font-size: 15px;
  color: #c5c5c5;
  float: right;
  font-weight: normal;
  
}

 .search-line .value {
     font-size: 24px;
  color: #333;
  float: right;
  padding-right: 20px;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

 .search-date {
  position: relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
  overflow: hidden;
  margin: 0 10px 10px;
  border-radius: 10px;
   padding-left: 50px;
  
}

 .search-date .icon-calendar {
  position: absolute;
  top: -14px;
  left: 18px;
}

 .search-date.search-line .value{
  font-size: 22px;
  font-weight: normal;
  
}

 .his-route{
 color: #5e7c96;
 font-size: 14px;
 padding-bottom: 50px;
}

 .his-route h3{
  position: relative;
  margin: 15px 60px ;
  border-top: 1px solid #5e7c96;
  height: 2px;
  text-align: center;
  
}

 .his-route h3 span{
  position: absolute;
  top: -17px;
  padding: 2px 10px;
  background-color: #efefef;
  margin-left: -38px;
  left: 50%;
}

 .his-route .his-route-list li{
  text-align: center;
  padding: 5px;
}

 .his-route .his-route-list li:active{
  color: #fff;
  background-color: #d5d5d5;
}