.title {
    padding: 0.85rem 0 .7rem .65rem;
    font-size: .8rem;
}

.visit-date {
    color: #BCBCBC;
    text-align: center;
}

.visit-date {
    font-size: 1rem;
    background-color: #fff;
    line-height: 2.5rem;
    color: #777;
}