 .cm-page {
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .cm-page.cm-no-header {
            padding-top: 0;
        }
        
        html, body, .cm-page-wrap, .cm-page {
            height: 100%;
        }
        
        .cm-page-wrap {
            padding-bottom: 50px;
        }
        
        html {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            font: 400 14px/1.5 Arial, "Lucida Grande" , Verdana, "Microsoft YaHei" , hei;
        }
        
        body {
            margin: 0;
            font-size: 14px;
            line-height: 1.5;
            color: #333;
            background-color: #efefef;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
        
        h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
            margin: 0;
        }
        
        ul, ol, li, dl, dd {
            margin: 0;
            padding: 0;
        }
        
        ul, ol {
            list-style: none outside none;
        }
        
        h1, h2, h3 {
            line-height: 2;
            font-weight: normal;
        }
        
        h1 {
            font-size: 18px;
        }
        
        i {
            font-style: normal;
        }
        
        .fl {
            float: left;
        }
        
        .fr {
            float: right;
        }
        
        .full-width {
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        
        .cm-header, .cm-footer, .cm-header-sub {
            position: fixed;
            left: 0;
            right: 0;
        }
        
        #headerview {
            height: 50px;
        }
        
        .baidubox #headerview {
            position: absolute;
            height: 0;
            width: 0;
        }
        
        .baidubox #headerview {
            z-index: 5000;
        }
        
        .cm-app-header {
            position: fixed;
            right: 10px;
            bottom: 90px;
            z-index: 500;
        }
        
        .cm-app-header li {
            width: 33px;
            height: 33px;
            padding: 5px;
            line-height: 33px;
            border: 1px solid #e5e5e5;
            background: #fff;
            border-radius: 5px;
            margin: 5px;
            text-align: center;
        }
        
        .cm-app-header li.js_back {
            display: none;
        }
        
        .cm-header {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            top: 0;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #00b358;
            color: #fff;
            z-index: 2000;
        }
        
        .cm-header-hybird-wrap {
            height: 64px;
        }
        .cm-header-hybird-wrap .cm-header {
            padding-top: 20px;
            height: 64px;
        }
        
        .cm-header .cm-page-title, .cm-header .cm-page-mutil-title, .cm-header .cm-page-select-title {
            position: absolute;
            left: 88px;
            right: 88px;
        }
        .cm-header .cm-page-title {
            line-height: 50px;
            font-size: 18px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .cm-header .cm-page-title .cm-title-l {
            line-height: 28px;
            display: block;
        }
        .cm-header .cm-page-title .cm-title-s {
            line-height: 1;
            font-size: 12px;
            display: block;
        }
        .cm-header .cm-page-mutil-title {
            font-size: 14px;
            line-height: 19px;
            padding-top: 4px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            height: 50px;
        }
        
        .cm-header .cm-header-icon {
            width: 50px;
            height: 50px;
            display: inline-block;
            text-align: center;
        }
        
        .cm-header .cm-header-icon:active, .cm-header .cm-header-btn:active {
            background-color: #07914B;
        }
        
        .cm-header .cm-header-btn {
            padding: 0 10px;
        }
        
        .icon-swap {
            display: inline-block;
            width: 36px;
            height: 36px;
            margin-top: 34px;
            background-size: 36px 36px;
        }
        
        .icon-calendar {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-top: 34px;
            background-size: 20px 20px;
        }
        
        .icon-img-search {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-size: 18px 18px;
        }
        
        .active .icon-img-search {
            background-size: 18px 18px;
        }
        
        .icon-img-file {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-size: 18px 18px;
        }
        
        .active .icon-img-file {
            background-size: 18px 18px;
        }
        
        .icon-img-user {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-size: 18px 18px;
        }
        
        .active .icon-img-user {
            background-size: 18px 18px;
        }
        
        
        .btn, .btn-primary, .btn-secondary, .btn-sub {
            line-height: 44px;
            height: 44px;
            padding: 0 10px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .btn-primary {
            background-color: #00b358;
            color: #fff;
            border: 0 none;
        }
        
        
        /*ҵ���๲�� begin*/
        .bus-tabs {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            line-height: 35px;
            z-index: 500;
        }
        
        .bus-tabs .tabs-item {
            text-align: center;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        
        .nav-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: #fff;
            height: 45px;
            border-top: 1px solid #e5e5e5;
        }
        
        .nav-bar .tabs-item {
            padding-top: 5px;
        }
        
        .nav-bar .tabs-item.active {
            color: #00b358;
        }
        
        .nav-bar .tabs-item .line {
            height: 20px;
            line-height: 20px;
            font-size: 11px;
        }
        
        .nav-bar .tabs-item .icon-file {
            color: #777777;
            top: -8px;
        }
        
        .nav-bar .tabs-item.active .icon-file {
            color: #00b358;
        }
        
        .nav-bar .tabs-item .icon-file:before {
            background-color: #fff;
        }
        
        .nav-bar .tabs-item .icon-search {
            border: 2px solid #777777;
            top: -4px;
            left: -2px;
        }
        
        .nav-bar .tabs-item.active .icon-search {
            border: 2px solid #00b358;
        }
        
        .nav-bar .tabs-item .icon-search::after {
            background-color: #777777;
        }
        
        .nav-bar .tabs-item.active .icon-search::after {
            background-color: #00b358;
        }
        
        .nav-bar .tabs-item.active .icon-user {
            color: #00b358;
        }
        
        
         .btn-primary {
            border-radius: 50px;
        }
        
         .index-btn-wrapper {
            margin: 25px 50px;
        }
        
         .search-box {
            position: relative;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            border-bottom: 1px dashed #e5e5e5;
            overflow: hidden;
            margin: 10px 10px 0;
            border-radius: 10px;
        }
        
         .search-box .start {
            margin: 0 10px 0 50px;
            border-bottom: 1px solid #e5e5e5;
        }
        
         .search-box .end {
            margin: 0 10px 0 50px;
        }
        
        
         .search-line {
            position: relative;
            height: 60px;
            line-height: 60px;
            overflow: hidden;
        }
        
         .search-box .search-line::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 10px;
            height: 10px;
            border-top: 2px solid #ccc;
            border-right: 2px solid #ccc;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -1px;
            -webkit-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
         .search-box .icon-swap {
            position: absolute;
            top: 10px;
            left: 6px;
        }
        
         .search-line .title {
            font-size: 15px;
            color: #8c8c8c;
            float: left;
            min-width: 40px;
        }
        
         .search-line .tips {
            font-size: 15px;
            color: #c5c5c5;
            float: right;
            font-weight: normal;
        }
        
         .search-line .value {
            font-size: 24px;
            color: #333;
            padding-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: right;
        }
        
         .search-date {
            position: relative;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            border-top: none;
            overflow: hidden;
            margin: 0 10px 10px;
            border-radius: 10px;
            padding-left: 50px;
        }
        
         .search-date .icon-calendar {
            position: absolute;
            top: -14px;
            left: 18px;
        }
        
         .search-date.search-line .value {
            font-size: 22px;
            font-weight: normal;
        }
        
         .his-route {
            color: #5e7c96;
            font-size: 14px;
            padding-bottom: 50px;
        }
        
         .his-route h3 {
            position: relative;
            margin: 15px 60px;
            border-top: 1px solid #5e7c96;
            height: 2px;
            text-align: center;
        }
        
         .his-route h3 span {
            position: absolute;
            top: -17px;
            padding: 2px 10px;
            background-color: #efefef;
            margin-left: -38px;
            left: 50%;
        }
        
         .his-route .his-route-list li {
            text-align: center;
            padding: 5px;
        }
        
         .his-route .his-route-list li:active {
            color: #fff;
            background-color: #d5d5d5;
        }