.check-wrapper {
    color: #b3b3b3;
}
.check-wrapper.active .icon-checkbox {
    background: #1787fb;
    border-color: #1787fb;
}
.icon-checkbox {
    border-color: #b3b3b3;
    border-radius: 50%;
}
.icon-checkbox::before {
    content: "";
    height: .2rem;
    width: .4rem;
    border: 1px solid #fff;
    border-width: 0 0 .1rem .1rem;
    position: absolute;
    top: .2rem;
    left: .15rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #fff;
}
.btn-fixed-blue {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .85rem;
    color: #fff;
    background: #007eff;
    text-align: center;
}
.btn-fixed-blue.static {
    position: static;
}
input {
    width: 8.5rem;
    padding: 0;
    margin: 0;
}
.code-input {
    width: 5rem;
    margin-right: .25rem;
}
.list-panel {
    padding-bottom: 2.5rem;
}
.input-panel .list-item.warning {
  position: relative;
  padding-right: 1.2rem;
}
.input-panel .list-item.warning .tag {
    content: "";
    display: inline-block;
    position: absolute;
    right: .25rem;
    top: .9rem;
    width: .75rem;
    height: .75rem;
    background: url('static/images/icon-warning.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.list-item {
    height: auto;
}

.tips {
    line-height: 1rem!important;
    display: block;
    padding: .5rem 0;
}
.close {
    position: absolute;
    right: 0;
    top: .95rem;
    width: .8rem;
    height: .8rem;
    display: none;
    text-align: center;
    line-height: .8rem;
    color: #fff;
    background: #e6e6e6;
    border-radius: 50%;
}
.relate {
    position: relative;
}
.relate .close {
    display: block;
}
.relate input {
    padding-right: 1.05rem;
}
.text-tips {
    margin-left: 0;
    margin-right: 0;
}

